@model WorkManagementApp.Models.SubTask

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark py-2">Create New SubTask</h2>
            </div>
        </div>
    </div>
    <div class="card-body pt-4">
        <form method="post" enctype="multipart/form-data" class="row">
            <div class="border pt-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="SubTaskName" class="form-control border-0 shadow" />
                    <label>Sub Task Name</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="MoneyIn" class="form-control border-0 shadow" />
                    <label>Money In</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="MoneyOut" class="form-control border-0 shadow" />
                    <label>Money Out</label>
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.DropDownListFor(m => m.TaskID, new SelectList(ViewBag.Tasks, "Value", "Text"), "Select Task", new { @class = "form-control border-0 shadow" })
                    <label>Select Task Name</label>
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.DropDownListFor(m => m.ProjectID, new SelectList(ViewBag.Projects, "Value", "Text"), "Select Project", new { @class = "form-control border-0 shadow" })
                    <label>Select Project Name</label>
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.DropDownListFor(m => m.Status, new SelectList(new[] { "Completed", "Pending" }), "Select Status", new { @class = "form-control border-0 shadow" })
                    <label>Status</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Image" type="file" name="uploadedFiles" class="form-control border-0 shadow" multiple />
                    <label>Select Images/PDFs</label>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary border form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
