@{
    ViewData["Title"] = "Contact Us";
}
<div class="container mt-5">
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-center py-4">
            <h1 class="text-dark">Nirman Group Company</h1>
            <h3 class="text-light">Construction</h3>
        </div>
        <div class="card-body text-center py-4">
            <h2 class="text-primary">Contact Us</h2>
            <div class="py-2">
                <h5>Mobile Number:</h5>
                <p>+91 9370759241</p>
            </div>
            <div class="py-2">
                <h5>Email:</h5>
                <p>shindeavi4057@gmail.com</p>
            </div>
        </div>
    </div>
</div>
